numpy==2.2.6
pandas==2.2.3
scipy==1.14.1
matplotlib==3.9.2
yfinance==0.2.65
streamlit==1.48.1
pytest==8.4.1
pytest-cov==6.2.1
black==25.1.0
isort==6.0.1
flake8==7.3.0
mkdocs==1.6.1
mkdocs-material==9.5.49
pre-commit==4.0.1 